body {
	width: 250;
}

#paste-key {
	padding: 0.5rem 0;
	width: 200px;
	background-color: #e8e8e8;
	color: #282828;
	border: none;
  	display: block;
  	margin: 1rem auto;
  	text-align: center;
}

#paste-key:hover {
	background-color: #d5d5d5;
}

#paste-key:focus {
	outline: 1px solid #2980b9;
}

#upload-image {
	display: block;
	width: 200px;
	margin: 1rem auto;
}